<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="OnSubmitAdd(f)" #f="ngForm">
          <div class="row form-group">
              <div class="col-md-6">
                  <label  class="h6" for="name">Name</label> 
              </div>
               <div class="col-md-6">
                <label class="h6" for="name">Amount</label> 
              </div>
            </div>
            <div class="row form-group">
                <div  class="col-md-6">

                <!--This is old Without Form
                     <input name="name" (input)="onWritingText1($event)" type="text" class="form-control"
                    [(ngModel)]="name" #nameRef> 
                -->
                <input name="name"  type="text" class="form-control"
                ngModel required>

                </div>
                 <div  class="col-md-3">
                 <input name="amount"  type="number" class="form-control" 
                  ngModel required  pattern="^[1-9]+[0-9]*$">
                </div>
              </div>
     <!-- 
       3 ways se ka skte hai ye kam
                  (input)="onWritingText1($event)"
                  [(ngModel)]="name"   -> ye use kre to name tag jarur use krna <input name="name">
                  #name -  local referancce

      -->
          <div class="container-fluid">
            <div class="row">
                
                   <button [disabled]="!f.valid" style="margin: 10px 0px 10px 0px;" type="submit" class="btn btn-success">
                      {{isShoopingEditmode ? 'Update':'Add'}}
                   </button>
               
                
                   <button *ngIf="isShoopingEditmode"  (click)="DeleteLogger('msg from Service --> Delete button pressed ')" style="margin: 10px 0px 10px 10px;" type="button" class="btn btn-danger">
                       Delete
                    </button>
               
               
                   <button (click)="ClearClicked('message form clear buttom using service')" style="margin: 10px 10px 10px 10px;" type="button" class="btn btn-secondary">
                       Clear
                    </button>
               
            </div> 
          </div>    
        </form>
    </div>
    
</div>

<!--  
  Uncomment me to see effect
<p  >This Child got from parent is : {{data}}</p> <br>
<p> name is: {{ name}} | amount is: {{amount}} </p>

-->